{% extends 'base.html' %}

{% block content %}
<div class="col-md-7 " style="margin: 100px auto;">
  <form action="{% url 'create_service' %}" method="POST" class="form-control col-md-12  justify-content-center " >
      {% csrf_token %}
      <div class="col-md-6 form-customer d-flex">
          <input required type="text" name="title"  placeholder="Имя покупателя" class="form-control my3 col-md-3">
          <input required type="text" name="description"  placeholder="Номер покупателя" class="form-control my3 col-md-3"  style="margin: 0 40px">
      </div>
      <div style="margin: 10px 20px;">
      <button type="submit" class="btn btn-secondary">Сохранить</button>
      </div>
  </form>
</div>
<div class="col-md-12" style="position: relative; top: 100px;">
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                    <th>Сервис</th>
                    <th>Описание сервиса</th>
            </thead>
            <tbody>       
                {% for service in services %}
                <tr>
                    <td>{{service.title}}</td>
                    <td>{{service.description}}</td>
                </tr>
                
                <td class="text-right">
                  <a href="{% url 'delete_service' service.id %}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>
                  <a href="{% url 'show_service' service.id %}" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                  <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                </td>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}